ANAM_API_KEY=ZjgxMzkyNTctMjI0MC00MGQzLTk5ZDktMjlmZmYwMDIyOWI3Omx5YmZKM0pXUllxODRhaGlLL29RSVA0NGUxOU9UZ0ZSUHE2WjRkT0VBNDA9
ANAM_AVATAR_ID=686d96ce-40ab-4623-8f2e-5462e324c6b1
ELEVENLABS_AGENT_ID=agent_4701kc6yc16jedsvs4qwxcpkman3